POSTGRES_DB = iot
POSTGRES_USER = iot
POSTGRES_PASSWORD = iot_dev_password

POSTGRES_PORT = 5432
MQTT_PORT = 1883
API_PORT = 8000
ADMINER_PORT = 8081
UI_PORT=3000

HOME_ASSISTANT_URL=http://host.docker.internal:8123
HOME_ASSISTANT_TOKEN=replace_me
HOME_ASSISTANT_SYNC_LIMIT=500
HOME_ASSISTANT_ALLOWED_DOMAINS=sensor,binary_sensor,light,switch,climate,cover,lock,fan
HOME_ASSISTANT_EXCLUDED_ENTITY_PREFIXES=sensor.backup_,sensor.sun_,sun.,zone.,person.,conversation.,event.
TZ = Europe/Moscow


